@import '/src/styles/main.scss';

@keyframes weight {
  from {
    font-weight: 100;
  }

  50% {
    font-weight: 900;
  }

  to {
    font-weight: 100;
  }
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $primary;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;

  @include tablet {
    width: 179px;
  }

  @include mobile {
    width: 179px;
  }
}

.product {
  color: $main_blue;
  text-decoration: none;
  animation: weight 2s infinite;
  animation-delay: calc(var(--char-index) * 150ms);
}
