@import '/src/styles/main.scss';

.title {
  width: 179px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $primary;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.product {
  color: $main_blue;
}
