@import '/src/styles/main.scss';

.user-information {
  @include flexbox;
  gap: 20px;
}

.user-image {
  border-radius: 50%;
  @include tablet {
    width: 48px;
    height: 48px;
  }
  @include mobile {
    width: 48px;
    height: 48px;
  }
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  @include tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 16px;
  }
}
