@import '/src/styles/main.scss';

.ranking-Wrapper {
  display: flex;
  width: 180px;
  gap: 10px;
}

.ranking-image {
  border-radius: 999px;
  width: 42px;
  height: 42px;
}

.ranking-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ranking-Info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ranking-nickname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  width: 80px;
  font-weight: 400;
}

.ranking-userInfo {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: $tertiary;
  font-weight: 300;
}
