.product-count {
  text-align: center;
  color: var(--primary, #f1f1f5);
}

.subject-victory {
  text-align: center;
  color: var(--green, #05d58b);
}

.object-victory {
  text-align: center;
  color: var(--pink, #ff2f9f);
}
