@import '/src/styles/main.scss';

.container {
  width: 940px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    width: 684px;
  }
  @include mobile {
    width: 335px;
  }
}

.input-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;

  @include mobile {
    flex-direction: column;
  }
}
