@import '/src/styles/main.scss';

.container {
  width: 940px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    width: 684px;
  }
  @include mobile {
    width: 335px;
  }
}

.input-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;

  @include mobile {
    flex-direction: column;
  }
}

.button {
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  padding: 24px;
  border-radius: 8px;
  background: $compare_gradient;
  background-size: 400%;
  background-position: 90% 0;
  transition: background 0.8s;
  text-align: cetner;
  color: $primary;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;

  &:hover {
    background-position: 185% 50%;
  }

  &:disabled {
    color: $tertiary;
    background: $border;
    cursor: not-allowed;
  }

  @include tablet {
    width: 164px;
    height: 55px;
    flex-shrink: 1;
  }

  @include mobile {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 18px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 100px;

  @include mobile {
    margin-top: 112px;
  }
}
