@import '/src/styles/main.scss';

.wrapper {
  @include column-flexbox($align: start, $justify: start);
  gap: 40px;
  width: 420px;
  height: 560px;
  @include tablet {
    height: 500px;
  }
  @include mobile {
    width: 295px;
    height: 490px;
    gap: 20px;
  }
}

.category {
  color: $primary;
  font-size: 24px;
  font-weight: 600;
  padding-right: 76px;
  word-break: keep-all;
  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }
  @include mobile {
    font-size: 20px;
    line-height: 28px;
    padding-right: 8px;
  }
}

.user-list {
  @include column-flexbox($align: start, $justify: start);
  width: 100%;
  gap: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include tablet {
    gap: 20px;
  }
  @include mobile {
    gap: 20px;
  }
}
