@import '/src/styles/main.scss';

.container {
  position: fixed;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 80px;
  bottom: 80px;
  z-index: 1;
  border: 1px solid $primary;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &:hover {
    background: $white;
    transition: all 0.3s;
    transform: scale(1.1);
  }
}
