$black: #000;
$white: #fff;

$primary: #f1f1f5;
$secondary: #9fa6b2;
$tertiary: #6e6e82;

$background: #1c1c22;
$dim: rgba(0, 0, 0, 0.7);
$border: #353542;
$comp-bg: #252530;
$comp-bg-10: rgba(159, 166, 178, 0.1);

$main_gradient: linear-gradient(91deg, #5097fa 0%, #5363ff 100%);
$compare_gradient: linear-gradient(-45deg, #9925ea, #338aff, #9925ea);
$main_blue: #5097fa;
$main_indigo: #5363ff;

$red: #f00;
$yellow: #ffc93c;

$green: #05d58b;
$green-10: rgba(5, 213, 139, 0.1);

$pink: #ff2f9f;
$pink-10: rgba(255, 47, 159, 0.1);

// Category chip Color
$music: #c5d17c;
$music-10: rgba(197, 209, 124, 0.1);

$drama: #ff7e46;
$drama-10: rgba(247, 85, 50, 0.1);

$book: #a953ff;
$book-10: rgba(169, 83, 255, 0.1);

$hotel: #49af1a;
$hotel-10: rgba(73, 175, 26, 0.1);

$interior: #d676c1;
$interior-10: rgba(214, 118, 193, 0.1);

$restaurant: #ff7e46;
$restaurant-10: rgba(255, 126, 70, 0.1);

$electronic: #23b581;
$electronic-10: rgba(35, 181, 129, 0.1);

$cosmetic: #fd529a;
$cosmetic-10: rgba(253, 82, 154, 0.1);

$cloth: #757aff;
$cloth-10: rgba(117, 122, 255, 0.1);

$app: #3098e3;
$app-10: rgba(48, 152, 227, 0.1);

$null: $primary;
$null-10: $border;

// Ranking chip Color
$first-10: rgb(218, 0, 116);

$second-10: rgb(0, 130, 56);

$rest-10: rgb(84, 84, 84);



