@import '/src/styles/main.scss';

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  50% {
    opacity: 0.9;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

.container {
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  left: 35%;
  padding: 10px 14px;
  border-radius: 6px;
  color: $white;
  background: $pink;
  opacity: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  animation: fadeOut 3s ease forwrads;
  animation-duration: 3s;
}
