@import '/src/styles/main.scss';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;

  @include tablet {
    gap: 25px;
    width: 619px;
  }

  @include mobile {
    gap: 25px;
    width: 375px;
  }
}

.youtube-section {
  width: 100%;
  overflow-x: scroll;

  @include tablet {
    width: 590px;
  }

  @include mobile {
    width: 320px;
  }
}

.youtube-wrapper {
  display: flex;
  width: 100%;
  height: 320px;
  gap: 40px;

  @include tablet {
    width: 1000px;
  }

  @include mobile {
    width: 660px;
    height: 215px;
    gap: 20px;
  }
}

.youtube-first {
  width: 480px;
  height: 315px;

  @include mobile {
    width: 320px;
    height: 210px;
  }
}

.youtube-second {
  width: 480px;
  height: 315px;

  @include mobile {
    width: 320px;
    height: 210px;
  }
}

.all-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;

  @include tablet {
    width: 590px;
  }

  @include mobile {
    width: 320px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

.title-point {
  color: transparent;
  background: $main_gradient;
  background-clip: text;
  font-weight: 600;
}

.product-list-grid {
  display: grid;
  width: 100%;
  height: 660px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.line {
  border: 1px solid $comp-bg;
  width: 100%;
}
