@import '@/styles/main';

.container {
  @include column-flexbox(center, center);
  border-radius: 8px;
  border: 1px solid $border;
  background: $comp-bg;
  padding: 20px;
  gap: 10px;
  width: 400px;
  height: 128px;

  @include tablet {
    width: 360px;
    height: 120px;
  }
  @include mobile {
    width: 295px;
    height: 120px;
  }

  .textArea {
    width: 100%;
    resize: none;
    overflow-y: hidden;

    color: $primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    input::placeholder {
      color: $tertiary;
      font-size: 16px;
    }
  }

  .footer {
    width: 100%;
    @include flexbox(between, center);
    .error {
      color: $red;
    }
    .text-count {
      color: $tertiary;
    }
  }

  &:focus-within {
    border: 1px solid $main_indigo;
  }
}
