@import '/src/styles/main.scss';

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
}

.profile-section {
  align-self: start;
}

.activity-section {
  @include column-flexbox;
  gap: 80px;
}
