.title {
  width: 179px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--primary, #f1f1f5);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.product {
  color: var(--main_blue, #5097fa);
}
