@import '/src/styles/main.scss';

.wrapper {
  @include column-flexbox($justify: between);
  width: 100%;
  height: 160px;
  padding: 20px;
  background-color: $comp-bg;
  border-radius: 8px;
  border: 1px solid $border;
  &:focus-within {
    border-color: $main_indigo;
  }
  @include mobile {
    height: 120px;
  }
}

.text-area {
  width: 100%;
  height: 100%;
  resize: none;
  color: $primary;
  line-height: 22px;
  @include tablet {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-count {
  align-self: flex-end;
  color: $tertiary;
  text-align: right;
  font-size: 14px;
}
