@import '@/styles/main';

.container {
  @include flexbox(between, center);
  border-radius: 12px;
  border: 1px solid $border;
  background: $comp-bg;
  width: 100%;

  padding: 20px;
  gap: 10px;

  @include mobile {
    @include column-flexbox;
    padding: 10px;
    gap: 10px;
  }

  .profile {
    @include column-flexbox(start, center);
    padding: 10px;
    gap: 10px;

    .profile-image {
      @include flexbox(start, center);
    }

    .profile-content {
      width: 100%;
      @include column-flexbox(center, center);
      gap: 15px;
    }
    .nick-name {
      @include flexbox;
      font-size: 20px;

      @include tablet {
        font-size: 16px;
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }

  .review {
    @include column-flexbox(between, center);
    width: 100%;
    gap: 20px;

    .review-content {
      font-size: 16px;
      line-height: 22px; /* 137.5% */

      @include tablet {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
      }
    }

    .review-images {
      @include flexbox(start, center);
      width: 100%;
      gap: 10px;
      .review-image {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 8px;
        background: #d9d9d9;

        img {
          border-radius: 8px; // 부모와 동일한 radius 적용
        }
      }
    }

    .review-footer {
      width: 100%;
      @include flexbox(between, center);
      .date-wrapper {
        @include flexbox(start, center);
        width: 100%;
        gap: 10px;
        .review-date {
          color: $tertiary;
          font-size: 14px;
          flex-shrink: 0;
        }

        .action-links {
          @include flexbox(start, center);
          gap: 5px;
          width: 100%;
          button {
            color: $secondary;
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
