@import '/src/styles/main.scss';

.wrapper {
  @include flexbox;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.container {
  width: 500px;
  height: 453px;
  border-radius: 16px;
  background: $background;
  padding: 60px 40px 40px;
}
