@import '/src/styles/main.scss';

.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  gap: 15px;
  width: 1300px;
  margin: 0 120px;
}

.aside {
  width: 180px;
  border-right: 1px solid $comp-bg-10;
  padding-top: 30px;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  background-color: gray;
  padding-top: 30px;
  max-width: 910px;
}

.hot-item-section {
  max-width: 910px;
  background-color: beige;
}

.hot-item-header {
}

.hot-item-header-point {
}

.hot-itemList {
  max-width: 910px;
  display: flex;
  gap: 10px;
  background-color: red;
  overflow-x: auto;
}

.hot-item {
  min-width: 250px;
}

.ranking-section {
  width: 180px;
  border-left: 1px solid $comp-bg-10;
  padding-top: 30px;
  flex-shrink: 0;
}
