@import '/src/styles/main.scss';

.home-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  gap: 25px;
  max-width: 1460px;
  width: 100%;

  @include tablet {
    display: grid;
    grid-template-areas:
      'sidebar ranking'
      'sidebar main';
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.sidebar {
  width: 180px;
  border-right: 1px solid $comp-bg-10;
  padding-top: 30px;
  flex-shrink: 0;
  margin-left: 80px;

  @include laptop {
    width: 130px;
    margin-left: 60px;
  }

  @include tablet {
    grid-area: sidebar;
    width: 130px;
  }

  @include mobile {
    display: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 30px;
  overflow-x: auto;

  @include tablet {
    grid-area: main;
    margin-right: 60px;
  }

  @include mobile {
    order: 2;
    margin: 0 20px;
  }
}

.item-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-header {
  font-size: 20px;
  font-weight: 300;
}

.item-header-point {
  color: transparent;
  background: $main_gradient;
  background-clip: text;
  font-weight: 600;
}

.itemList {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.item {
  min-width: 250px;

  @include laptop {
    min-width: 200px;
  }
}

.ranking-section {
  width: 180px;
  border-left: 1px solid $comp-bg-10;
  padding-top: 30px;
  flex-shrink: 0;
  margin-right: 80px;

  @include laptop {
    width: 130px;
    margin-right: 60px;
  }

  @include tablet {
    grid-area: ranking;
    border: none;
  }

  @include mobile {
    margin: 0 20px;
  }
}
