@import '/src/styles/main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid $border;
  background: $comp-bg;
}

.product-thumbnail-box {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 130px;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-title {
  font-size: 14px;
}

.product-rating {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.product-reply-like-box {
  display: flex;
}

.product-star-rating-box {
  display: flex;
}
