@import '/src/styles/main.scss';

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-0.3rem);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(0.3rem);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-label {
  font-size: 16px;

  @include tablet {
    font-size: 15px;
  }

  @include mobile {
    font-size: 14px;
  }
}

.input-main {
  width: 100%;
  height: 70px;
  padding: 23px 20px;
  background-color: $comp-bg;
  border-radius: 10px;
  border: 1px solid transparent;
  color: $secondary;

  &:focus {
    border-color: $main_indigo;
  }

  @include tablet {
    height: 55px;
  }

  @include mobile {
    height: 50px;
  }
}

.input-error {
  font-size: 13px;
  font-weight: 100;
  color: $error;
  animation: shake 0.7s ease;
}
