@import '/src/styles/main.scss';

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 60px;
}

.form-input-area {
  width: 640px;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-button {
  margin-top: 15px;
}
