@import '/src/styles/main.scss';

.wrapper {
  @include column-flexbox($align: start);
  gap: 40px;
  width: 540px;
  @include tablet {
    width: 510px;
  }
  @include mobile {
    width: 295px;
    gap: 20px;
  }
}

.title {
  color: $primary;
  font-size: 24px;
  font-weight: 600;
  @include tablet {
    font-size: 20px;
  }
  @include mobile {
    line-height: 28px;
  }
}

.form {
  @include column-flexbox;
  gap: 20px;
  width: 100%;
  & button {
    margin-top: 20px;
    @include mobile {
      margin-top: 10px;
    }
  }
  @include tablet {
    gap: 15px;
  }
  @include mobile {
    gap: 10px;
  }
}

.input-container {
  @include flexbox;
  gap: 20px;
  flex-direction: row-reverse;
  width: 100%;
  @include tablet {
    gap: 15px;
  }
  @include mobile {
    @include column-flexbox($align: start);
    gap: 10px;
  }
}

.box {
  @include column-flexbox;
  gap: 20px;
  width: 100%;
  @include tablet {
    gap: 15px;
  }
  @include mobile {
    gap: 10px;
  }
}
