@import '/src/styles/main.scss';

.sideBar-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sideBar-header {
  font-size: 22px;
  font-weight: 400;
  color: white;
  text-align: left;

  @include tablet {
    font-size: 20px;
  }
}

.sideBar-list {
  display: flex;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  color: $tertiary;

  @include tablet {
    font-size: 16px;
    margin-top: 20px;
  }
}

.sideBar-list.selected {
  color: white;
}
