@import '/src/styles/main.scss';

.sideBar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sideBar-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sideBar-header {
  font-size: 22px;
  font-weight: 400;
  color: white;
  text-align: left;

  @include tablet {
    font-size: 20px;
  }
}

.sideBar-list {
  display: flex;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  color: $tertiary;

  @include tablet {
    font-size: 16px;
    margin-top: 20px;
  }
}

.sideBar-list.selected {
  color: white;
}

.user-menu {
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 80px;
  }
}

.button {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  color: $primary;
  border: 1px solid $tertiary;
  border-radius: 5px;
  padding: 5px;
}
