@import '/src/styles/main.scss';

.wrapper {
  width: 100%;
  min-width: 1600px;
  border-bottom: 2px solid $comp-bg-10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 1600px;
  height: 100px;

  @include tablet {
    height: 60px;
  }

  @include mobile {
    height: 50px;
  }
}

.menu-icon {
  display: none;

  @include mobile {
    display: block;
  }
}

.logo-wrapper {
  position: relative;
  width: 166px;
  height: 28px;

  @include tablet {
    width: 138px;
    height: 24px;
  }
}

.navigation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @include tablet {
    gap: 40px;
  }
}

.search {
  display: flex;
  align-items: center;
  width: 400px;
  height: 56px;
  padding: 16px 20px;
  background-color: $comp-bg;
  border-radius: 28px;
  gap: 20px;

  @include tablet {
    width: 270px;
    height: 40px;
  }

  @include mobile {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: $background;
  }
}

.search-input {
  @include mobile {
    display: none;
  }
}

.navigation-user-menu {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-weight: 400;

  @include tablet {
    font-size: 14px;
    gap: 20px;
  }

  @include mobile {
    display: none;
  }
}

.button {
  color: white;
}
