.container {
  display: inline-flex;
  background: var(--pink-10, rgba(255, 47, 159, 0.1));
  gap: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  color: var(--pink, #ff2f9f);
  font-size: 14px;
  font-weight: 400;
}

.close-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 2px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
