@import '/src/styles/main.scss';

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;

  @include tablet {
    width: 619px;
    padding: 0 20px;
  }

  @include mobile {
    width: 375px;
  }
}

.title {
  font-size: 20px;
  font-weight: 300;
}

.title-point {
  color: transparent;
  background: $main_gradient;
  background-clip: text;
  font-weight: 600;
}

.itemList {
  width: 950px;

  @include tablet {
    width: 550px;
  }

  @include mobile {
    width: 320px;
  }
}

.item {
  display: flex !important;
  width: 250px !important;

  @include tablet {
    width: 190px !important;
  }

  @include mobile {
    width: 150px !important;
  }
}

.all-product {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  width: 1000px;

  @include tablet {
    width: 619px;
    align-items: center;
    margin-top: 50px;
  }

  @include mobile {
    width: 375px;
  }
}

.product-list-grid {
  display: grid;
  margin: 0 auto;
  width: 950px;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;

  @include tablet {
    width: 590px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @include mobile {
    width: 320px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
