$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  stretch: stretch,
  center: center,
);

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($justify: center, $align: center) {
  display: flex;
  align-items: _get-flex-value($align);
  justify-content: _get-flex-value($justify);
}

@mixin column-flexbox($justify: center, $align: center) {
  display: flex;
  flex-direction: column;
  align-items: _get-flex-value($align);
  justify-content: _get-flex-value($justify);
}

@mixin inline-flexbox($justify: center, $align: center) {
  display: inline-flex;
  align-items: _get-flex-value($align);
  justify-content: _get-flex-value($justify);
}
